body {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
}

.section__heading {
  color: #b8b8b8;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .section__heading {
    font-size: 35px;
    margin-top: 10px;
  }
}

